workflows/exports/01_weekly_strategy_v2.json
{
  "name": "weekly_strategy_v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4f22b23e-736a-44d1-a8db-03150afe4f09",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\n// prova a trovare il testo nella risposta OpenAI\nlet text = null;\n\nif (response.output && Array.isArray(response.output)) {\n  for (const item of response.output) {\n    if (item.content && Array.isArray(item.content)) {\n      for (const content of item.content) {\n        if (content.type === 'output_text' && content.text) {\n          text = content.text;\n          break;\n        }\n      }\n    }\n    if (text) break;\n  }\n}\n\nif (!text) {\n  throw new Error('Could not find output_text in OpenAI response');\n}\n\n// pulizia base\ntext = text.trim();\n\n// parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (err) {\n  throw new Error(`Failed to parse model JSON: ${err.message}\\nRaw text:\\n${text}`);\n}\n\n// week_id dal flusso precedente\nconst weekId = $('Set trends').first().json.week_id;\n\nreturn [\n  {\n    json: {\n      week_id: weekId,\n      theme: parsed.week_theme,\n      trend_summary: parsed.trend_fit_summary,\n      asset_request_message: parsed.asset_request_message,\n      status: 'waiting_assets',\n      content_plan_json: JSON.stringify(parsed.content_plan)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "eb408c6b-264c-45de-923d-33cab3be9d4d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a4183fc-28cb-4d47-9dde-95d65f9dee2c",
              "name": "week_id",
              "value": "test-week-01",
              "type": "string"
            },
            {
              "id": "6bb102b7-c6db-4193-9746-9e8dd4e9724e",
              "name": "trend_text",
              "value": "Short DJ POV clips with intimate booth moments, low light red visuals, authentic crowd reactions, minimal captions, and non-commercial underground storytelling perform well this week.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        224
      ],
      "id": "dc643bc5-d250-47e8-b61b-2cde59d60ec1",
      "name": "Set trends"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ",
          "mode": "list",
          "cachedResultName": "dj-content-mvp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129644612,
          "mode": "list",
          "cachedResultName": "weekly_plan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit#gid=2129644612"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_id": "={{$json.week_id}}",
            "theme": "={{$json.theme}}",
            "trend_summary": "={{$json.trend_summary}}",
            "asset_request_message": "={{$json.asset_request_message}}",
            "status": "={{$json.status}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "week_id",
              "displayName": "week_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trend_summary",
              "displayName": "trend_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asset_request_message",
              "displayName": "asset_request_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        0
      ],
      "id": "61cbc018-13c9-4209-94ee-833e20a95591",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cV0oeOxcOBIf4TIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ",
          "mode": "list",
          "cachedResultName": "dj-content-mvp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "brand_profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9053e94a-83cf-49a6-9c1f-0bb39f224ccd",
      "name": "Get brand profile",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cV0oeOxcOBIf4TIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cc4dc07-9cad-4464-9961-5824bd071796",
              "name": "prompt",
              "value": "=You are a senior social media strategist specialized in underground electronic music DJs.  Your task is to generate a weekly content strategy based on: 1) the artist identity 2) current trend signals  ARTIST PROFILE: Artist name: {{$json.artist_name}} Tone: {{$json.tone}} Colors: {{$json.colors}} Audience: {{$json.audience}} Goals: {{$json.goals}} Anti-patterns: {{$json.anti_patterns}}  INPUT TRENDS: {{$json.trend_text}}  CONSTRAINTS: - Exactly 3 posts - English only - Content must feel underground, elegant, emotional - No generic ideas - No meme-based formats - No content that feels commercial or influencer-like - Focus on authenticity and identity  OUTPUT FORMAT (STRICT JSON ONLY): {   \"week_theme\": \"string\",   \"trend_fit_summary\": \"string\",   \"content_plan\": [     {       \"post_number\": 1,       \"content_type\": \"raw_club_energy | dj_pov | artistic_identity\",       \"goal\": \"string\",       \"required_assets\": [\"string\", \"string\"]     },     {       \"post_number\": 2,       \"content_type\": \"string\",       \"goal\": \"string\",       \"required_assets\": [\"string\", \"string\"]     },     {       \"post_number\": 3,       \"content_type\": \"string\",       \"goal\": \"string\",       \"required_assets\": [\"string\", \"string\"]     }   ],   \"asset_request_message\": \"string\" }  IMPORTANT: - Return ONLY valid JSON - Do not add explanations - Do not include markdown - Do not include comments",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        224
      ],
      "id": "f8f9fe05-ec3e-4a1e-a12f-2700044dec20",
      "name": "Generate prompt weekly streategy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4.1-mini\",\n  \"input\": \"{{$json.prompt.replaceAll('\"', \"'\")}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "25432685-2ce0-436c-bd3e-7a1abf19f0c8",
      "name": "OpenAI weekly plan",
      "credentials": {
        "httpBearerAuth": {
          "id": "Zwe6YWaqBmT2DmEJ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "matteolongo0@gmail.com",
        "subject": "=Weekly Content Plan — {{$json.week_id}}",
        "message": "=Weekly Theme: {{$json.theme}}\n\n---\n\nTrend Insight: {{$json.trend_summary}}\n\n---\n\nWhat I need from you this week: {{$json.asset_request_message}}\n\n---\n\nReply when assets are uploaded or ready.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        0
      ],
      "id": "17bc8fd5-6a83-4e36-afe0-d8c86d99e551",
      "name": "Send a message",
      "webhookId": "1f7e0d88-6d5e-4a32-936c-20c77a2da634",
      "credentials": {
        "gmailOAuth2": {
          "id": "XM48yt7lDiwwkXgG",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get brand profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set trends": {
      "main": [
        [
          {
            "node": "Generate prompt weekly streategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get brand profile": {
      "main": [
        [
          {
            "node": "Set trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate prompt weekly streategy": {
      "main": [
        [
          {
            "node": "OpenAI weekly plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI weekly plan": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf231fbe-3b7c-4393-b6e7-3ac8a4cf3c31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d62c178785e3d3ef54cdcfbddcd3b67ea7bd48dca9f387f3859cdfb3d624b8a7"
  },
  "id": "6d6ZOhSJaIsWmfsI",
  "tags": []
}