workflows/exports/07_trend_ingestion_v1.json
{
  "name": "trend_ingestion_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "769d26d0-9215-4b65-9424-cd22202de1c8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf54fdd0-82cd-4986-acef-da12c19d4569",
              "name": "week_id",
              "value": "test-week-02",
              "type": "string"
            },
            {
              "id": "53ba3b66-eec8-4406-aed4-76cff644d090",
              "name": "search_query",
              "value": "tiktok instagram reel trends underground electronic dj house music april 2026",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3de2b8f6-1ea5-406a-b2cf-b17ace12c0db",
      "name": "Set trend search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.search_query}}"
            },
            {
              "name": "topic",
              "value": "general"
            },
            {
              "name": "search_depth",
              "value": "basic"
            },
            {
              "name": "max_results",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "d62f4101-01f9-4772-a764-3254434350d2",
      "name": "Tavily search",
      "credentials": {
        "httpBearerAuth": {
          "id": "aLtm3zrho5jCaTsP",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nconst results = Array.isArray(response.results) ? response.results : [];\n\nif (results.length === 0) {\n  throw new Error('No Tavily results returned');\n}\n\nconst simplified = results.map((r, index) => ({\n  rank: index + 1,\n  title: r.title || '',\n  url: r.url || '',\n  content: r.content || ''\n}));\n\nreturn [\n  {\n    json: {\n      week_id: $('Set trend search').first().json.week_id,\n      search_query: $('Set trend search').first().json.search_query,\n      tavily_results: simplified\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "327755d3-fb88-456e-9fce-efe10423f7ba",
      "name": "Extract tavily results"
    },
    {
      "parameters": {
        "jsCode": "const weekId = $json.week_id;\nconst searchQuery = $json.search_query;\nconst results = $json.tavily_results || [];\n\nconst prompt = `\nYou are a social media trend analyst specialized in underground electronic music and DJ branding.\n\nYour task is to analyze web search results and extract only the trends that are relevant for a niche underground electronic DJ brand.\n\nBRAND CONTEXT:\n- Groovy, emotional electronic music\n- Underground, elegant, minimal, mysterious\n- Avoid generic influencer trends\n- Avoid meme-heavy trends\n- Focus on formats, hooks, and social patterns that can be adapted authentically\n\nSEARCH RESULTS:\n${JSON.stringify(results, null, 2)}\n\nOUTPUT FORMAT (STRICT JSON):\n{\n  \"trend_text\": \"A concise summary of the most relevant social content trends for this week, in plain English, 80 to 140 words.\",\n  \"raw_summary\": \"A slightly longer explanation of why these trends matter for this DJ brand.\"\n}\n\nIMPORTANT:\n- Return ONLY valid JSON\n- No markdown\n- No explanations\n`;\n\nreturn [\n  {\n    json: {\n      week_id: weekId,\n      search_query: searchQuery,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "bac4eea4-0143-4899-878f-2362a606754f",
      "name": "Build trend prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4.1-mini"
            },
            {
              "name": "input",
              "value": "={{$json.prompt}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "000e25a2-6ec6-4df9-bfed-4ca2f94626db",
      "name": "OpenAI trend summarizer",
      "credentials": {
        "openAiApi": {
          "id": "ySB6INGRi8kfBMam",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let response = $json;\n\nlet text = null;\n\nif (response.output && Array.isArray(response.output)) {\n  for (const item of response.output) {\n    if (item.content && Array.isArray(item.content)) {\n      for (const content of item.content) {\n        if (content.type === 'output_text' && content.text) {\n          text = content.text;\n          break;\n        }\n      }\n    }\n    if (text) break;\n  }\n}\n\nif (!text) {\n  throw new Error('Could not find output text in OpenAI response');\n}\n\ntext = text.trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (err) {\n  throw new Error(`Failed to parse trend JSON: ${err.message}\\nRaw text:\\n${text}`);\n}\n\nconst weekId = $('Build trend prompt').first().json.week_id;\nconst searchQuery = $('Build trend prompt').first().json.search_query;\n\nreturn [\n  {\n    json: {\n      week_id: weekId,\n      trend_text: parsed.trend_text || '',\n      source_query: searchQuery,\n      raw_summary: parsed.raw_summary || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "9f02f661-8d8f-4eb5-928f-589ce6d16e3e",
      "name": "Parse trend summary"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ",
          "mode": "list",
          "cachedResultName": "dj-content-mvp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 15405210,
          "mode": "list",
          "cachedResultName": "trends_input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NTixIa-fWMI-x3OeJ-r0TjYT81cergI2gXSNKRcjZSQ/edit#gid=15405210"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_id": "={{$json.week_id}}",
            "trend_text": "={{$json.trend_text}}",
            "source_query": "={{$json.source_query}}",
            "raw_summary": "={{$json.raw_summary}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "week_id",
              "displayName": "week_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trend_text",
              "displayName": "trend_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_query",
              "displayName": "source_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_summary",
              "displayName": "raw_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        0
      ],
      "id": "b1451f04-e4a8-4bd4-b2b1-4cff6b6c50e8",
      "name": "Append trends_input",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "boUExPCyLKSdMtmV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set trend search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set trend search": {
      "main": [
        [
          {
            "node": "Tavily search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily search": {
      "main": [
        [
          {
            "node": "Extract tavily results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract tavily results": {
      "main": [
        [
          {
            "node": "Build trend prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build trend prompt": {
      "main": [
        [
          {
            "node": "OpenAI trend summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI trend summarizer": {
      "main": [
        [
          {
            "node": "Parse trend summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse trend summary": {
      "main": [
        [
          {
            "node": "Append trends_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6cc1a696-2fcf-441e-9d1b-a8a88d0f213e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "692ecdc509ddc479a32e62f771b03cdddf40e236877bb0306264b93c84e75835"
  },
  "id": "XDXGviVcYTOZeKsW",
  "tags": []
}